# Python
__pycache__/
*.pyc
.venv/
venv/
env/
.ipynb_checkpoints/

# Environment
.env
*.env

# Data
data/raw/
data/processed/
datasets/

# Outputs
outputs/
runs/
logs/
wandb/
results/
*.npy
data/**/embeddings/

# Models
checkpoints/
*.pt
*.pth
*.ckpt
*.safetensors
*.bin

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
